@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

body{
  min-height: 100%;
  font-family: "EB Garamond", serif;
}
/******************************************
/* GENERAL STYLES
/*******************************************/
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  display: inline-block;
}

h1,
h2,
h3,
span,
.main-section,
.stylers-section,
.promo-section,
header{
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

.section-title{
  margin: 1em 0;
  font-size: 3rem;
  text-align: center;
}


.btn-primary{
  padding: 1em;
  background-color: black;
  color: white;
  font-weight: lighter;
  text-transform: uppercase;
}

.no-wrap{
  text-wrap: nowrap;
}

.tablet-item{
  display: none;
}

.desktop-item{
  display: none;
}
/******************************************
/* HEADER
/*******************************************/
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  min-height: 75px;
  padding: 1.5em;
}

.logo{
  font-style: italic;
}

.header-mobile{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-btn-mobile{
  color: white;
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

nav ul{
  padding: 3em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.nav-mobile{
  height: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: none;
  overflow: hidden;
}

.show-nav{
  display: block;
}

@keyframes show{
  0%{
    height: 0;
  }

  100%{
    height: 400px;
  }
}

@keyframes hide{
  0%{
    height: 400px;
  }

  100%{
    height: 0;
  }
}

/******************************************
/* MAIN
/*******************************************/
main{
  padding: 75px 0;
}

main > section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}

.main-section{
  background-image: url(/assets/img/main.webp);
  background-size: cover;
  background-position: center;
  min-height: 400px;
  justify-content: flex-end;
  align-items: flex-start;
  padding-block: 4rem;
  color: #fff;
}

.main-section h1{
  line-height: 1.2em;
  font-size: 2.5rem;
  margin: 0;
}

.main-slogan{
  margin-block: 2em;
  letter-spacing: 0.3em;
}

/* descktop only */
.main-section-promo{
  margin-top: 3em;
  padding: 2.5em 2em;
  background-color: black;
  color: white;
  max-width: 300px;
  font-size: 1.3rem;
}

.main-section-promo p{
  line-height: 2em;
  margin: 1em 0;
}

.main-section-promo .btn-primary{
  background-color: white;
  color: #000;
}
/******************************************
/* SERVICES
/*******************************************/
.services-section{
  display: flex;
  gap: 3em;
}

.service{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 2em;
  text-align: center;
}

.service p{
  color:  #737373;
}
/******************************************
/* INFO
/*******************************************/
.info-section{
  padding-block: 3em;
  gap: 3em;
  background-color: #f3f4f6;
}

.info-section-text > *{
  margin-bottom: 3rem;
}

.info-section-text h2{
  font-size: 2.5rem;
}

.info-section p{
  color: #737373;
}
/******************************************
/* STYLER
/*******************************************/
.stylers-section{
  text-align: center;
  gap: 2em;
  padding: 1e;
}

.styler > *{
  margin-bottom: 1em
}
/******************************************
/* PROMO
/*******************************************/
.promo-section{
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-block: 4rem;
}

.promo-section p{
  font-size: 3.5rem;
  padding-block: 0.5rem;
}

/******************************************
/* LOOKBOOK
/*******************************************/
.lookbook{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.lookbook-col{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/******************************************
/* FOOTER
/*******************************************/
footer{
  background-color: black;
  color: white;
  padding: 2em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

footer p{
  text-align: center;
  line-height: 1.5em;
}

.footer-links{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

.footer-links a{
  font-size: 1.5rem;
}

/******************************************
/* BACK TO TOP BUTTON
/*******************************************/
#btn-backtop{
  display: none;
  border-radius: 100%;
  border: 3px solid white;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}

/******************************************
/* TABLETS MEDIA QUERIES
/*******************************************/
@media only screen and (min-width: 600px){
  .tablet-item{
    display: block;
  }

  header{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav ul,
  .services-section,
  .lookbook{
    flex-direction: row;
  }

  .nav-mobile{
    height: 100%;
    display: block;
    overflow: visible;
  }

  #nav-btn-mobile{
    display: none;
  }

  nav ul{
    padding: 0;
    gap: 0.5em;
  }

  main > section{
    padding: 3rem 6rem;
  }

  .main-section h1{
    width: 50%;
  }

  .stylers{
    display: flex;
    gap: 1em;
  }
}

/******************************************
/* LAPTOP MEDIA QUERIES
/*******************************************/
@media only screen and (min-width: 992px) {
  .desktop-item{
    display: block;
  }

  nav ul{
    gap: 2em;
  }

  main > section{
    padding: 7em 14em;
  }

  .main-section{
    min-height: 950px;
  }

  .main-section h1{
    font-size: 6rem;
    width: 50%;
  }

  .services-section,
  .info-section-text p,
  .main-slogan{
    font-size: 1.2rem;
  }
  .info-section{
    flex-direction: row;
    padding-block: 6rem;
  }

  .info-section-text h2{
    font-size: 3rem;
  }

  .promo-section{
    padding-inline: 5rem;
    margin-inline: 16rem;
    background-image: url(/assets/img/Promo-Banner-Image.webp);
  }

  .promo-section > h2,
  .promo-section > p{
    width: 50%;
  }

  .lookbook{
    flex-direction: row;
  }

  footer{
    flex-direction: row;
    justify-content: space-around;
  }
}